$primary1: hsl(180, 66%, 49%);
$primary2:hsl(257, 27%, 26%);
$secondary: hsl(0, 87%, 67%);
$gray1:hsl(0, 0%, 75%);
$gray2:hsl(257, 7%, 63%);
$gray3: hsl(255, 11%, 22%);
$gray4:hsl(260, 8%, 14%);
$padding: 140px;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}