@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  display: block;
  padding: 40px 140px 70px 140px;
  position: relative;
  font-weight: 700;
}

nav img {
  float: left;
  width: 130px;
  height: auto;
  position: relative;
  top: 6px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
}

.navbar a {
  color: #9e9aa7;
  text-decoration: none;
  margin-right: 30px;
}

.navbar a:first-child {
  margin-left: 20px;
}

.navbar a:hover {
  color: #000;
}

.navbar-button, .section1-info button, .section2-feature form button {
  height: 42px;
  color: #fff;
  background-color: #2acfcf;
  border-radius: 20px;
  width: 110px;
  border: none;
  font-weight: 700;
  margin-left: 20px;
  cursor: pointer;
}

.navbar-button:hover, .section1-info button:hover, .section2-feature form button:hover {
  background-color: #38f0f0;
}

.navbar-button:focus, .section1-info button:focus, .section2-feature form button:focus {
  outline: none;
}

.navbar #toggle-menu {
  display: none;
}

body,
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.section1 {
  padding: 0 140px 120px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section1-info {
  padding-top: 60px;
  min-width: 700px;
  max-width: 800px;
}

.section1-info h1 {
  font-size: 5rem;
  color: #35323e;
  font-weight: 700;
  line-height: 1.2;
}

.section1-info p {
  padding-right: 120px;
  color: #9e9aa7;
  font-size: 1.4rem;
}

.section1-info button {
  height: 55px;
  width: 200px;
  border-radius: 50px;
  float: left;
  margin-left: 0;
  margin-top: 40px;
  font-size: 1.2rem;
}

.section2 {
  background-color: #f0f0f0;
  padding: 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #35323e;
}

.section2-feature {
  position: relative;
  top: -85px;
  padding: 50px;
  margin-bottom: 60px;
  background-color: #3b3054;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 7px;
  background-image: url(/images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section2-feature form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
}

.section2-feature form input {
  width: 100%;
  border-radius: 7px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding-left: 30px;
  color: #35323e;
}

.section2-feature form input::-webkit-input-placeholder {
  color: #9e9aa7;
}

.section2-feature form input:-ms-input-placeholder {
  color: #9e9aa7;
}

.section2-feature form input::-ms-input-placeholder {
  color: #9e9aa7;
}

.section2-feature form input::placeholder {
  color: #9e9aa7;
}

.section2-feature form input:focus {
  outline: none;
}

.section2-feature form button {
  height: 70px;
  width: 200px;
  border-radius: 7px;
  font-size: 1.2rem;
}

.section2-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  margin-bottom: 4rem;
}

.section2-info h3 {
  width: 80%;
  font-size: 2.8rem;
  padding-bottom: 1rem;
}

.section2-info p {
  color: #9e9aa7;
  line-height: 1.8;
}

.section2-cards {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 4rem;
}

.section2-card {
  position: relative;
  background-color: #fff;
  z-index: 10;
  height: 300px;
  border-radius: 8px;
  padding: 1rem 2rem 2rem 2rem;
}

.section2-card:first-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section2-card:nth-child(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section2-card .img-wrapper {
  position: absolute;
  top: -40px;
  background-color: #3b3054;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2-card img {
  width: 50%;
  height: 50%;
}

.section2-card h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.section2-card p {
  color: #9e9aa7;
  font-size: 1rem;
}

.line {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 10px;
  background-color: #2acfcf;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */