@import './customvariables';
@import './navbar&modal';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
body,
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

// Section1 
.section1 {
  padding: 0 $padding 120px $padding;
  display: flex;
  justify-content: space-between;
  &-info {
    padding-top: 60px;
    min-width: 700px;
    max-width: 800px;
    h1 {
      font-size: 5rem;
      color: $gray3;
      font-weight: 700;
      line-height: 1.2;
    }
    p {
      padding-right: 120px;
      color: $gray2;
      font-size: 1.4rem;
    }
    button {
      @extend .navbar-button;
      height: 55px;
      width: 200px;
      border-radius: 50px;
      float: left;
      margin-left: 0;
      margin-top: 40px;
      font-size: 1.2rem;
    }
  }
}

// End of section1
// -----------------
// Section2
.section2 {
  background-color: $gray1;
  padding: 0 $padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $gray3;
}

.section2-feature {
  position: relative;
  top: -85px;
  padding: 50px;
  margin-bottom: 60px;
  background-color: $primary2;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
  background-image: url(/images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  form {
    display: flex;
    width: 100%;
    height: 70px;
    input {
      width: 100%;
      border-radius: 7px;
      border: none;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 18px;
      padding-left: 30px;
      color: $gray3;
      &::placeholder {
        color: $gray2;
      }
      &:focus {
        outline: none;
      }
    }
    button {
      @extend .navbar-button;
      height: 70px;
      width: 200px;
      border-radius: 7px;
      font-size: 1.2rem;
    }
  }
}

.section2-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 600px;
  margin-bottom: 4rem;
  h3 {
    width: 80%;
    font-size: 2.8rem;
    padding-bottom: 1rem;
  }
  p {
    color: $gray2;
    line-height: 1.8;
  }
}

.section2-cards {
  display: grid;
  align-items: center;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px;
  column-gap: 30px;
  margin-bottom: 4rem;
}

.section2-card {
  position: relative;
  background-color: #fff;
  z-index: 10;
  height: 300px;
  border-radius: 8px;
  padding: 1rem 2rem 2rem 2rem;
  &:first-child {
    align-self: flex-start;
  }
  &:nth-child(3) {
    align-self: flex-end;
  }
  .img-wrapper {
    position: absolute;
    top: -40px;
    background-color: $primary2;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 50%;
    height: 50%;
  }
  h5 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  p {
    color: $gray2;
    font-size: 1rem;
  }
}

.line {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 10px;
  background-color: $primary1;
}

// End of section 2
// -----------------
// Section 3
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}